@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
    background-size: 400%;
    
    -webkit-animation: BackgroundAnimation 7s ease infinite;
    -moz-animation: BackgroundAnimation 7s ease infinite;
    animation: BackgroundAnimation 7s ease infinite;
}

@keyframes BackgroundAnimation {
    0%,
    100% {
        background-position: 0% 50%;
    }
    85% {
        background-position: 100% 85%;
    }
    75% {
        background-position: 100% 75%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.text-gradient {
    background: linear-gradient(90deg, #5d6a37 32.41%, #b38172 46.52%, #075d44 64.27%, #0038ff 79.11%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}